<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <title>Subzidion</title>
    <style>
        body {
            background-color: #212121;
            color: #D7D7D7;
        }
        a {
            color: inherit;
            margin: 5px;
        }
        .block {
            margin-bottom: 10px;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" style="padding-top: 25px;">
    <div class="row">
        <div class="col-md-12">
            <div class="block" style="text-align: center; background-color:#6D878D; padding: 75px;">
                {% if movies|length == 0 %}
                    Carl has not watched any movies lately...
                {% else %}
                    <h3><strong>Movies</strong></h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Score</th>
                                <th>Movie</th>
                                <th colspan=2>Streaming</th>
                            {% for movie in movies %}
                            <tr>
                                <td style="text-align: center;">{{movie.score }}/100</td>
                                <td>{{ movie.name }}</td>
                                <td>{% if movie.netflix %} Netflix{% endif %}</td>
                                <td>{% if movie.amazonPrime %} <i class="fa fa-amazon fa-2x"></i>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href={% url 'home:index' %}><strong>Go back</strong></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
